body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #d8b4e2;
    color: #333;
}

header {
    background-color: #fff;
    color: rgb(178, 5, 197);
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 1rem;
}

header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

main {
    padding: 2rem;
}

.course {
    background-color:  #a16dc5;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 2rem;
    padding: 1rem;
}

.course h2 {
    margin-top: 0;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: white;
    background-color: #800080;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #b344b9db;
}

footer {
    background-color: #d6b3e0;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
