body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.header {
    background-color: #d8b4e2;
    color: white;
    padding: 1em 0;
    text-align: center;
}
.container {
    width: 80%;
    margin: 2em auto;
}
.course {
    background-color: white;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(218, 96, 96, 0.1);
}
.course h2 {
    margin-top: 0;
}
.course p {
    color: #555;
}
.course button {
    background-color: #b138b8;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
}
.course button:hover {
    background-color: #b344b9db;
}